.logout-btn {
    padding: 10px 25px;
    background: transparent;
    border: 2px solid #ffdc5a;
    color: #ffdc5a;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    border-radius: 40px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.logout-btn:hover {
    background: rgba(255, 220, 90, 0.3);
    color: white;
    border-color: white;
    box-shadow: 0 8px 25px rgba(255, 220, 90, 0.5);
    transform: translateY(-3px);
}

.profile-btn {
    padding: 10px 25px;
    background: transparent;
    border: 2px solid #ffdc5a;
    color: #ffdc5a;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    border-radius: 40px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.profile-btn:hover {
    background: rgba(255, 220, 90, 0.3);
    color: white;
    border-color: white;
    box-shadow: 0 8px 25px rgba(255, 220, 90, 0.5);
    transform: translateY(-3px);
}